<div class="list-group list-group-flush">
    {% for lerneinheit in group.lerneinheiten %}
        {% for inhalt in lerneinheit.modulInhalte %}
            <div class="list-group-item">
                <div class="mb-2">
                    <span class="badge badge-primary">
                        {{ lerneinheit.art.bezeichnung }}
                    </span>

                    <span class="badge badge-primary">
                        {{ inhalt.modul.bezeichnung }}
                    </span>

                    <span class="badge badge-primary">
                        {{ lerneinheit.bezeichnung }}
                    </span>

                    <span class="badge badge-secondary">
                        {{ inhalt.kompetenzstufe.bezeichnung }}
                    </span>

                    <span class="badge badge-secondary">
                        {{ lerneinheit.funktion.bezeichnung }}
                    </span>

                    <span class="badge badge-secondary">
                        {{ 'lerneinheit.stundenumfang'|trans({'%stunden%': lerneinheit.stundenumfang}) }}
                    </span>
                </div>

                <h6 class="card-title">{{ inhalt.bezeichnung }}</h6>

                <p>{{ inhalt.zusammenfassung|markdown_to_html }}</p>

                <div class="container-fluid w-100 p-0">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            {% for werkzeug in inhalt.werkzeuge %}
                                <div class="d-flex flex-row">
                                    <div class="mr-1">
                                        <i class="fas fa-tools"></i>
                                    </div>
                                    <div>
                                        {{ werkzeug.bezeichnung }}

                                        {% if werkzeug.beschreibung is not empty %}
                                            <div class="text-secondary">{{ werkzeug.beschreibung }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="col-md-4">
                            {% for material in inhalt.materialien %}
                                <div class="d-flex flex-row">
                                    <div class="mr-1">
                                        <i class="fas fa-book"></i>
                                    </div>

                                    <div>
                                        {{ material.material.bezeichnung }}

                                        {% if material.detail is not empty %}
                                            <div class="text-secondary">{{ material.detail }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="col-md-4">
                            {% for kompetenz in inhalt.kompetenzen %}
                                <div class="d-flex flex-row">
                                    <div class="mr-1">
                                        <i class="fas fa-tag"></i>
                                    </div>
                                    <div title="{{ kompetenz.beschreibung }}">
                                        {{ kompetenz.bezeichnung }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
</div>