{% extends "main.html.twig" %}

{% block title %}{{ 'dashboard.fach'|trans }}{% endblock %}

{% block content %}
    <div class="container-fluid px-0">
        {% set currentFilter = {
            jgst: (jgstFilter.aktuelleJahrgangsstufe is not null ? jgstFilter.aktuelleJahrgangsstufe.id : null),
            id: fach.id
        } %}

        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header d-flex align-items-center border-bottom-0">
                        <ul class="nav nav-pills card-header-pills flex-fill" data-trigger="resize-hide">
                            {% for f in faecher %}
                                <li class="nav-item">
                                    <a class="nav-link {% if fach.id == f.id %}active{% endif %}"
                                       href="{{ path('fach', currentFilter|merge({id: f.id})) }}">{{ f.bezeichnung }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                {% for group in groups %}
                    <div class="card">
                        <div class="card-header font-weight-bold">
                            {{ group.jahrgangsstufe.bezeichnung }}
                        </div>

                        {% include "dashboard/_group.html.twig" %}
                    </div>
                {% endfor %}
            </div>

            <div class="col-md-3 sticky-sidebar">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-filter"></i> {{ 'filter.label'|trans }}</h5>

                        <form method="get">
                            <div class="form-group mb-0">
                                <select name="jgst" id="fach" class="form-control custom-select" data-trigger="submit">
                                    <option value="" placeholder>{{ 'filter.jgst'|trans }}</option>
                                    {% for jgst in jgstFilter.jahrgangsstufen %}
                                        <option value="{{ jgst.id }}" {% if jgstFilter.aktuelleJahrgangsstufe is not null and jgstFilter.aktuelleJahrgangsstufe.id == jgst.id %}selected{% endif %}>{{ jgst.bezeichnung }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </form>
                    </div>

                    <div class="card-footer">
                        <a href="{{ path('fach_redirect') }}" class="btn btn-primary btn-sm">
                            {{ 'filter.reset'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}